<div id="chirpForm">
<%= form_for :chirp, url: chirps_path do |f| %>

  <% if @chirp.errors.any? %>
    <div id="error_explanation">
      <% @chirp.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= msg %>
        </div>
      <% end %>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= f.text_area( :body, :class => "form-control chirp-body", :rows => 3 ) %>
  </div>

  <%= f.submit "Chirp", :class => "btn btn-primary" %>
  <span class="chirp-body-count"></span>
<% end %>
</div>


<% if flash[:message] %>
<div class="alert alert-<%= flash[:alert] %> alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= flash[:message] %>
</div>
<% end %>

<hr>

<% @chirps.each do |chirp| %>
<div class="card card-block">
  <%= simple_format(chirp.body, class: 'card-text') %>
  <p class="small" prettydate><%= chirp.created_at %></p>
  <%= link_to 'View', chirp_path(chirp), { :class=>"card-link" } %>
  <%= link_to 'Destroy', chirp_path(chirp),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "card-link" %>
</div>
<% end %>